{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            {% if user %}

                <p></p>

                <div class="form-group">
                    <label for="id_name">Application name</label>
                    <input disabled class="form-control" id="id_name" type="text" name="name" value="{{ name }}"/>
                </div>

                <div class="form-group">
                    <label for="id_description">Description</label>
                    <textarea disabled class="form-control" id="id_description" name="description" rows="2">{{ description }}</textarea>
                </div>

                <div class="form-group">
                    <label for="id_client_id">client id</label>
                    <input disabled class="form-control" id="id_client_id" type="text" name="client_id" value="{{ client_id }}"/>
                </div>

                <div class="form-group">
                    <label for="id_client_secret">client secret</label>
                    <input disabled class="form-control" id="id_client_secret" type="text" name="client_secret" value="{{ client_secret }}"/>
                </div>

                <div class="form-group">
                    <label for="id_redirect_uris">Redirect urls</label>
                    <textarea disabled class="form-control" id="id_redirect_uris" name="redirect_uris" rows="4">{{ redirect_uris }}</textarea>
                </div>

                <div class="form-group">
                    <label for="id_default_scopes">Default scopes</label>
                    <textarea disabled class="form-control" id="id_default_scopes" name="default_scopes" rows="2">{{ default_scopes }}</textarea>
                </div>

            {% endif %}
        </div>

        <div class="col-lg-6">

        </div>

    </div>
{% endblock %}