alembic==0.9.1
appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
click==6.7
cryptography==1.8.1
Flask==0.12.1
Flask-Login==0.4.0
Flask-LoginManager==1.1.6
Flask-Migrate==2.0.3
Flask-OAuthlib==0.9.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
Mako==1.0.6
MarkupSafe==1.0
oauthlib==2.0.2
packaging==16.8
pyasn1==0.2.3
pycparser==2.17
PyJWT==1.4.2
pyparsing==2.2.0
python-editor==1.0.3
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
SQLAlchemy==1.1.9
Werkzeug==0.12.1
WTForms==2.1
